"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "1c041d8a-2f3a-43e7-b2eb-0a727af7379b"
  welcome:
    showOnStartup: false
